@model List<string>

<h1 style="color:blue">
    Azure storage Files
</h1>

<p>
    <a asp-controller="AzureFiles"
       asp-action="UploadFile">
        Upload Azure File
    </a>
</p>

@if (Model != null)
{
    <ul class="list-group">
        @foreach (string file in Model)
        {
            <li class="list-group-item">
                @file
                <a asp-controller="AzureFiles"
                   asp-action="ReadFile"
                   asp-route-filename="@file"
                   class="btn btn-info">
                    Read File
                </a>
                <a asp-controller="AzureFiles"
                   asp-action="DeleteFile"
                   asp-route-filename="@file"
                   class="btn btn-danger">
                    Delete file
                </a>
            </li>
        }
    </ul>
}