﻿<h1>Leer fichero</h1>

<a asp-action="Index" asp-controller="AzureFiles"
   class="btn btn-info">
    Back to Azure Files
</a>

<p style="color:darkslateblue; font-size:medium;">
    @ViewData["DATA"]
</p>