<h2 style="color:red">New Container</h2>

<a asp-action="Index" asp-controller="AzureBlobs"
   class="btn btn-outline-dark">
    Back to Containers
</a>

<form method="post">
    <label>Container name</label>
    <input type="text" name="containername" class="form-control"/>
    <br />
    <button class="btn btn-dark">Create</button>
</form>