<h1>Upload Blob @ViewData["CONTAINER"]</h1>

<a asp-action="Index" asp-controller="AzureBlobs"
   class="btn btn-dark">
    Back to Containers
</a>

<form method="post" enctype="multipart/form-data">
    <input type="hidden" name="containername" value="@ViewData["CONTAINER"]" />
    <label>Seleccione fichero</label>
    <input type="file" name="file" class="form-control" />
    <br />
    <button class="btn btn-success">Upload blob</button>
</form>